
<div class="hero height">
        <div class="container">
        <h4 class="title"><i class="fa fa-cube"></i> Block{{#have_prev_hash}}
            <a href="/block/{{prev_hash}}"><i class="fas fa-angle-left"></i></a>
             {{/have_prev_hash}}
             {{blk_height}}
             {{#have_next_hash}}
             <a href="/block/{{next_hash}}"><i class="fas fa-angle-right"></i></a>
             {{/have_next_hash}}
        </h4>
        <p class="subtitle has-text-centered">
            hash :{{blk_hash}}
        </p>
    <!-- {{#have_prev_hash}}
   Previous block: <a href="/block/{{prev_hash}}">{{prev_hash}}</a>
    {{/have_prev_hash}}

    {{#have_next_hash}}
    <H5>Next block: <a href="/block/{{next_hash}}">{{next_hash}}</a></H5>
    {{/have_next_hash}} -->



    <div class="columns has-text-centered has-addons-centered">
        <div class="column is-three-fifths detail-card">
            <p>Timestamp [UCT] (epoch): {{blk_timestamp}} ({{blk_timestamp_epoch}})</p>
            <p>Major.minor version: {{major_ver}}.{{minor_ver}}</p>
            <p>nonce:{{blk_nonce}}</p>
            <p>PoW hash: {{blk_pow_hash}}</p>
        </div>
        <div class="column detail-card">
            <p>Age {{age_format}}: {{blk_age}}</p>
            <p>Block reward: {{blk_reward}}</p>
            <p>Total fees: {{sum_fees}}</p>
            <p>Difficulty: {{blk_difficulty}}</p>
            
        </div>
        <div class="column detail-card">
            <p>Δ [h:m:s]: {{delta_time}}</p>
            <p>Block size [kB]: {{blk_size}}</p>
            <p>No of txs: {{no_txs}}</p>
            <p></p>
        </div>
    </div>

    <h3 class="title">Miner reward transaction</h3>
    <table class="table is-fullwidth">
        <tr>
            <td class="no-display">hash</td>
            <td>outputs</td>
            <td>size [kB]</td>
            <td>version</td>
        </tr>
        {{#coinbase_txs}}
            <tr>
                <td class="no-display"><a href="/tx/{{hash}}">{{hash}}</a>
                <td>{{sum_outputs}}</td>
                <td>{{tx_size}}</td>
                <td>{{version}}</td>
            </tr>
        {{/coinbase_txs}}

    </table>



    <h3 class="title">Transactions ({{no_txs}})</h3>
    {{#have_txs}}
        <table class="table is-fullwidth">
            <tr>
                <td class="no-display">hash</td>
                <td>outputs</td>
                <td>fee [&#181;&#x271]</td>
                <td>in/out</td>
                <td>size [kB]</td>
                <td>version</td>
            </tr>
            {{#blk_txs}}
                <tr>
                    <td class="no-display"><a href="/tx/{{hash}}">{{hash}}</a></td>
                    <td>{{sum_outputs}}</td>
                    <td>{{fee_micro}}</td>
                    <td>{{no_inputs}}/{{no_outputs}}</td>                    
                    <td>{{tx_size}}</td>
                    <td>{{version}}</td>
                </tr>
            {{/blk_txs}}
        </table>
    {{/have_txs}}    


    {{#enable_as_hex}}
        <h5 class="title" style="margin-top:1px">
            <a href="/blockhex/{{blk_height}}">Block as hex</a>
            | <a href="/blockhexcomplete/{{blk_height}}">Complete block as hex</a>
        </h5>
    {{/enable_as_hex}}
</div>
</div>
