<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>Monero Infinity Blockchain Explorer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="/css/style.css">-->
    <style type="text/css">
        {{#css_styles}}{{/css_styles}}
    </style>

    {{#js_files}}{{/js_files}}

</head>
<body>
<div>
    <section class="hero is-primary">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
                <a href="/">XML Explorer</a>
            </h1>
            <h2 class="subtitle">
                ({{^enable_js}}no javascript - {{/enable_js}}no cookies - no web analytics trackers - no images - open sourced)
            </h2>
          </div>
        </div>
      </section>

    <div class="hero is-primary">
        <form action="/search" method="get" style="width:80%; margin-top:15px">
            <input class="input is-rounded" type="text" name="value" size="120"
                   placeholder="block height, block hash, transaction hash">
            <input class="button is-rounded" type="submit" value="Search">
        </form>
    </div>
</div>